*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
    color:hsl(229, 6%, 66%);
}
.heading{
    color: hsl(234, 12%, 34%);
}

@media screen and (min-width:768px){
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
}
.card{
    position: relative;
    width:22rem;
    text-align: left;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#card-left,#card-right{
    position: relative;
    top:120px;
}
#card-top,#card-bottom{
    position: absolute;
    left:calc(50% - 11rem);
}

#card-left{
    left:15px;
}
#card-right{
    right:15px;
}
}

.card-title{
    font-size:20px;
}

.bottom{
    width:20%;
    margin-top:10px;
    float: right;
}
.row{
    height:100%;
}

@media only screen and (max-width:768px){
    .card{
        position: relative;
        width:80%;
        margin:auto;
        margin-top:30px;
        box-shadow: 4px 8px 12px 4px rgba(0,0,0,0.2);
    }
    .container{
        position: absolute;
        top:10%;
    }
    .fw-light{
        font-weight: normal !important;
    }
    .col-6{
        width:90%;
    }
    p{
        text-align: left;
    }
    
}